#platsCards{
    width: 22%;
}

.card-group{
    margin-bottom: 3%;
}

.dropdown{
    margin-left: 1.39%;
}

#generationPlats{
    flex-wrap: wrap;
    width: 100%;
}

#aboveListePlats{
    margin-left: 1.39%;
}

#toastimg{
    width: 100%;
    margin-bottom: 3%;
}